body{
    background-color: rgb(216, 216, 216);
}

form {
    font-family: arial;
    width: 500px;
    margin: auto;
}

h2{
    color: rgb(0, 68, 68);
    font-size: 29px;
    text-align : center;
	font-family: helvetica;
	text-transform: uppercase;
	padding: 3px;
	margin-bottom: 20px;
    margin-top: 10px;
}

h3 {
    font-size: 23px;
    text-transform: none;
    margin:6px;
    color: rgb(0, 68, 68);
}

h4 {
    font-size: 28px;
    margin:6px;
}

.container {
    margin-top: 50px;
    background-color: white;
    padding: 16px;
    border: 5px solid #b3b3b3;
}

label{
	color:#5e5e5e;
	text-transform: uppercase;
}

input[type=text] {
    font-family: calibri;
    width: 100%;
    padding: 12px 20px;
    margin: 8px 0px;
    margin-bottom: 27px;
    display: inline-block;
    border: 1px solid #ccc;
    box-sizing: border-box;
}

textarea {
    font-family: calibri;
    width: 100%;
    padding: 12px 20px;
    margin: 8px 0px;
    display: inline-block;
    border: 1px solid #ccc;
    box-sizing: border-box;
}

button {
    background-color: #01a7b3;
    color: white;
    padding: 14px 20px;
    margin: 8px 0;
    border: none;
    cursor: pointer;
    width: 97%;
}

a {
    font-family: calibri;
    text-decoration: none;
    font-size: 0.9rem;
    text-align: center;
    background-color: #01a7b3;
    color:white;
    padding: 13px 181px 13px 181px;
    border:none;
    text-transform: none;
}

table {
    border: solid #f1f1f1;
}

h1 {
    text-transform: none;
    font-size: 23px;
    margin: 5px;
}

.head {
    background-color: #01a7b3;
    color: white;
}

.isi {
    background-color: #ffffff;
}

.a2 {
    font-family: calibri;
    text-decoration: none;
    font-size: 0.9rem;
    text-align: center;
    background-color: #01a7b3;
    color:white;
    padding: 13px 150px 13px 150px;
    border:none;
    text-transform: none;
}